name: Weld Testing CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build-weld-junit:
    name: "Weld Testing build, JDK ${{matrix.java.name}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java:
          - {
            name: "17",
            java-version: 17,
          }
          - {
            name: "21",
            java-version: 21,
          }
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK @{}
      uses: actions/setup-java@v4.4.0
      with:
        java-version: ${{ matrix.java.java-version }}
        distribution: 'temurin'
    - name: Get Date
      id: get-date
      run: |
        echo "::set-output name=date::$(/bin/date -u "+%Y-%m")"
      shell: bash
    - name: Cache Maven Repository
      id: cache-maven
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        # Caching is an automated pre/post action that installs the cache if the key exists and exports the cache
        # after the job is done. In this case we refresh the cache monthly (by changing key) to avoid unlimited growth.
        key: q2maven-master-${{ steps.get-date.outputs.date }}
    - name: Build with Maven
      run: WELD_JUNIT_DEBUG=spotbugs mvn clean install -Dno-format -Dspotbugs.failOnError=true
    - name: Delete Local Artifacts From Cache
      shell: bash
      run: rm -r ~/.m2/repository/org/jboss/weld/weld-junit*
    - name: Prepare failure archive (if maven failed)
      if: failure()
      shell: bash
      run: find . -name '*-reports' -type d | tar -czf test-reports.tgz -T -
    - name: Upload failure Archive (if maven failed)
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: test-reports-jdk${{matrix.java.name}}
        path: 'test-reports.tgz'
